.ShowCard {
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;

    width: 225px;
    height: 340px;

    color: white;

    overflow: hidden;

    position: relative;

    .showTitle {
        width: 225px;
        height: 300px;

        display: none;
        position: absolute;
        top: 0;
        background-image: linear-gradient(rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.5) 85%, rgba(128, 128, 128, 0.1));
        border-radius: 5px 5px 0 0;

    }

    img {
        border-radius: 5px;
        width: 100%;
        height: 100%;
    }
}

.ShowCard:hover {
    cursor: pointer;

    .showTitle {
        display: block;

    }
}